.hello {
  color: green;
}
#nbar {
  background-color: #52616b;
  color: black;
}
.login,
#site {
  text-decoration: none;
  color: white;
}

.login:hover,
#site:hover {
  text-decoration: none;
  color: white;
}
.brand {
  font-weight: bolder;
}
account-img {
  height: 165px;
  width: 165px;
}
.nav-img {
  height: 30px;
  width: 30px;
}
body {
  background-color: #d4d7dd;
}
