{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{% block content %}
<div class="container-fluid" style="margin-top:7%;">

    <div class="bg" style="background-image: url({{ random_post.photo.cdn_url }})">
        <div class="over container-fluid" style="margin:0px; padding:0px;">
            <div class=" " style="padding-top:14%; margin:0px; padding-bottom:14%;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 d-flex flex-row mx-auto">
                        {% for rating in random_post.ratings.all %}
                        {% if forloop.counter is random_post.ratings.all.count %}
                        <h3 id="design">{{ rating.design_average}}<br>
                            <span class="rates">design</span>
                        </h3>
                        <h3 id="usable" class="mx-auto">{{ rating.usability_average }}<br>
                            <span class="rates">usability</span>
                        </h3>
                        <h3 id="content">{{ rating.content_average }}<br>
                            <span class="rates">content</span></h3>
                        <h3 id="score">{{ rating.score }}<br>
                            <span class="rates">score</span></h3>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl"> Submit
            your
            site
        </button>
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-sm btn-info" value="Save" />
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ post.photo.cdn_url }}" alt="{{photo.title}}">
                            <a href="{% url 'project' post.title %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><a href="{% url 'project' post.title %}">{{post.title|title}}</a> <a
                                    class="btn btn-sm btn-outline-info" href="{{ post.url }}" style=""> View</a></h6>
                            <hr>
                            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}"
                                    class="nav-img mr-2" alt="">
                                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>


                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}